* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
	background-color: #ecf0f1;
	font-family: 'Arial', sans-serif;
    height: 100vh;
    overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

#logo{
	display: flex;
    font-size: 50px;
    color: #0a53de;
    font-family: Impact;
}

#mensagem{
	display: flex;
    font-size: 15px;
    flex-direction: column;
	object-fit: cover;
}

#container{
	display: flex;
    border: 2px solid #0a53de;
    align-items: center;
    height: 80vh;
	width: 70vw;
	border-radius: 15px;
	background-color: white;
	justify-content: space-between;
}

#imagem_lateral{
	height: 100%;
	border: 2px;
	border-radius: 15px;
}

#botoes_registros{
	display: flex;
    flex-direction: column;
}

#botoes_logo{
	flex: 1 0 auto;
	flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
	gap: 30px;
}
#botoes_registros{
    display: flex;
    justify-content: center;
    width: 70%;
}

#botao_entrada, #botao_saida {
    /*width: 100%;*/
    /*max-width: 435px;*/
    padding: 14px;
    background: #0A53DE;
    font-family: 'Lucida Sans';
    border-radius: 20px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;*/
}