*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
	background-color: #ecf0f1;
	font-family: 'Arial', sans-serif;
    height: 100vh;
    overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.container-principal{
	display:flex;
	border: 3px solid #0a53de;
	justify-content: space-between;
	align-items: center;
	height: 80vh;
	width: 70vw;
	border-radius: 15px;
	background-color: white;
	gap: 15px;
	/*border: 2px solid red;*/
}

.container-primario{
	display: flex;
	/*display: none;*/
}

.container-secundario{
	position: absolute;
    /*display: none;*/
	display: flex;
}

.container{
	border-radius: 15px;
	width: 70vw;
	height: 80vh;
	justify-content: center;
	align-items: center;
	object-fit: cover;
	/*border: 2px solid green;*/
}

.logo{
	display: flex;
    font-size: 50px;
    color: #0a53de;
    font-family: Impact;
	align-items: center;
    font-family: Impact;
}

.mensagem{
	display: flex;
    font-size: 15px;
    flex-direction: column;
	object-fit: cover;
    font-family: 'Lucida Sans';
}

.botoes_registros{
	display: flex;
	justify-content: center;
    font-family: 'Lucida Sans';
	width: 70%;
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 70%;
}

.primeira-coluna, .segunda-coluna{
	overflow: hidden;
	display: flex;
	flex-direction: column;
    justify-content: center; 
    height: 100%; 
    
}

.primeira-coluna{
	width: 40%;
	align-items: center;
	z-index: 10;
}

.segunda-coluna{
	width: 60%;
    align-items: center;
	gap: 30px;
	flex-direction: column;
	display: flex;
}

.buttons_catraca {
    padding: 14px;
    background: #0A53DE;
    font-family: 'Lucida Sans';
    border-radius: 20px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
	width: 100%; 
    font-family: 'Lucida Sans';
}

.buttons_catraca:hover{
	background-color: white;
	border: 2px solid #3294ac;
	color: #3294ac;
}

.input_cpf{
	display: flex;
    align-items: center;
    border: 2px solid #AAEE1F;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
	justify-content: center;
}

.error-message {
    color: red;
    font-size: 11px;
    margin-top: 10px;
    display: none;
}

.error-message.active {
    display: block;
}

.imagem-lateral {
    height: 100%; 
	width: 100%;
	object-fit: cover;
	border-radius: 15px;
	left: 0;
}

#cpf{
	flex-direction: column;
	margin-left: 10px;
	gap: 15px;
	flex: 1;
    display: flex;
	padding: 10px;
	border: none;
	outline:none;
}

.logo-fitfun{
	height: 50px;
}

.container-secundario .primeira-coluna{
	order: 2;
	z-index: -1;
	/*animation: animacao_segunda_coluna 2s;*/
}

.container-secundario .segunda-coluna{
	order: 1;
	align-items: center;
	z-index: -1;
	/*animation: animacao_segunda_coluna 2s;*/
}

.form{
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 15px;
	width: 55%;
	align-items: center;
	text-align:center;
}

form{
	display: flex;
	flex-direction: column;
	width: 100%;
    text-align: center;
}

#botao_registrar{
	display: flex;
	justify-content: center;
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 150%;
    font-family: 'Lucida Sans';
	text-align: center;
	align-items: center;
}

.selecionar-entrada-saida-js .container-primario .primeira-coluna,
.selecionar-entrada-saida-js .container-primario .segunda-coluna{
	z-index: 11;
}

.selecionar-entrada-saida-js .container-secundario .primeira-coluna,
.selecionar-entrada-saida-js .container-secundario .segunda-coluna{
	z-index: -1;
}

.registrar-atividade-js .container-secundario .primeira-coluna,
.registrar-atividade-js .container-secundario .segunda-coluna{
	z-index: 11;
}

.registrar-atividade-js .container-primario .primeira-coluna,
.registrar-atividade-js .container-primario .segunda-coluna{
	z-index: -1;
}

.selecionar-entrada-saida-js .container-primario {
    animation: slideInLeft 0.5s forwards;
}

.selecionar-entrada-saida-js .container-secundario {
    animation: slideOutRight 0.5s forwards;
}

.registrar-atividade-js .container-secundario {
    animation: slideInRight 0.5s forwards;
}

.registrar-atividade-js .container-primario {
    animation: slideOutLeft 0.5s forwards;
}

.botoes_registros #botao_voltar {
	width: 35px;
	height: 35px;
	position: absolute;
	top: 3px;
	left: 20px;;
    background-color: #AAEE1F;
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.botoes_registros #botao_voltar:hover {
    background-color: #ffffff;
	border: 2px solid #AAEE1F;
	color: #AAEE1F;
}


/* Animações de deslize */
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}